.nga-nav-link {
    color: white;

    font-weight: 500;
  }
  
  .nga-nav-link:hover {
    color: grey;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  
  .nga-navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: black;
  }
  
  .nga-logo {
    font-weight: 500;
  }
  
  .nga-logo:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .nga-btn-navbar {
    color: black;
    --bs-btn-color: #fff;
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: grey;
    --bs-btn-hover-border-color: grey;
  }
  
  
  