   {% load static %}
   <!-- 🌟 Navbar -->
    <header class="navbar">
        <div class="brand-container">
          <strong>AJ Playground 2.0</strong>
          <!-- 🌟 Resume Download Button -->
          <a class="resume-btn" href="{% static 'files/resume.pdf' %}" download>
            <i class="bi bi-file-earmark-arrow-down me-1"></i>Resume
          </a>
        </div>
        <nav class="nav-links">
          <a href="#" data-section="home">Home</a>
          <a href="#" data-section="projects">Projects</a>
          <a href="#" data-section="blog">Blog</a>
          <a href="#" data-section="follow">Follow</a>
        </nav>
        <form class="d-flex">
          <a
            class="btn btn-sm nga-btn-navbar me-2"
            href="https://github.com/sudoaj"
          >
            <i class="bi bi-github me-2"></i>Github
          </a>
          <a class="btn btn-sm nga-btn-navbar me-2" href="{% url 'register' %}">
            <i class="bi bi-person-plus me-2"></i>Sign up
          </a>
          <a class="btn btn-sm btn-outline-light me-2" href="{% url 'login' %}">
            <i class="bi bi-box-arrow-in-right me-2"></i>Login
          </a>
        </form>
      </header>