<footer class="nga-footer bottom-0 w-100">
  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <!-- Code Section -->
      <div class="col-12 col-lg-4 mb-3">
        <h2 class="h5">Technologies</h2>
        <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
        <div class="d-flex flex-wrap gap-3">
          <!-- Python -->
          <a type="button" class="nga-btn-social nga-btn-python text-decoration-none text-white"
            [href]="'https://www.python.org/'" [attr.aria-label]="'Python'">
            <i class="bi bi-file-code-fill"></i> Python
          </a>
          <!-- TypeScript -->
          <a type="button" class="nga-btn-social nga-btn-typescript text-decoration-none text-white"
            [href]="'https://www.typescriptlang.org/'" [attr.aria-label]="'TypeScript'">
            <i class="bi bi-code-square"></i> TypeScript
          </a>
          <!-- Docker -->
          <a type="button" class="nga-btn-social nga-btn-docker text-decoration-none text-white"
            [href]="'https://www.docker.com/'" [attr.aria-label]="'Docker'">
            <i class="bi bi-box-seam"></i> Docker
          </a>
          <!-- AWS -->
          <a type="button" class="nga-btn-social nga-btn-aws text-decoration-none text-white"
            [href]="'https://aws.amazon.com/'" [attr.aria-label]="'AWS'">
            <i class="bi bi-cloud-fill"></i> AWS
          </a>
          <!-- Code -->
          <a type="button" class="nga-btn-social nga-btn-code text-decoration-none text-white"
            [href]="'https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide'" [attr.aria-label]="'Code'">
            <i class="bi bi-braces"></i> Code
          </a>
        </div>
      </div>

      <!-- Projects Section -->
      <div class="col-12 col-lg-4 mb-3">
        <h2 class="h5">Projects</h2>
        <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">Project A</a></li>
          <li><a href="#" class="text-decoration-none text-white">Project B</a></li>
          <li><a href="#" class="text-decoration-none text-white">Project C</a></li>
          <li><a href="#" class="text-decoration-none text-white">Project D</a></li>
        </ul>
      </div>

      <!-- Companies Section -->
      <div class="col-12 col-lg-4 mb-3">
        <h2 class="h5">Companies</h2>
        <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">Company A</a></li>
          <li><a href="#" class="text-decoration-none text-white">Company B</a></li>
          <li><a href="#" class="text-decoration-none text-white">Company C</a></li>
          <li><a href="#" class="text-decoration-none text-white">Company D</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="py-3 text-center" style="background-color: black;">
    <div class="container text-white">
      <p class="mb-2">
        &copy; {{ currentYear }} {{ appInfo.name }}. All rights reserved.
      </p>
      <a [href]="'https://' + appInfo.website" class="text-decoration-none text-white">
        {{ appInfo.website }}
      </a>
    </div>
  </div>
</footer>