<div id="blog-section"  class="container py-5" id="blog-section">
    <h2 class="text-white mb-4">Blog</h2>
    <div class="row justify-content-center">
      <!-- Blog 1 -->
      <div class="col-md-4">
        <div class="blog-card" style="background: url('/assets/images/6615E80C-8EE2-4725-B35A-2601339B7197.png') no-repeat center center; background-size: cover;">
          <div class="blog-content">
            <p class="blog-title">Why React?</p>
            <p class="blog-date">2020</p>
          </div>
        </div>
      </div>
      <!-- Blog 2 -->
      <div class="col-md-4">
        <div class="blog-card" style="background: url('/assets/images/BC4F2809-E668-429C-8AFC-5887A5166BF0.png') no-repeat center center; background-size: cover;">
          <div class="blog-content">
            <p class="blog-title">Frontend vs Backend</p>
            <p class="blog-date">2019</p>
          </div>
        </div>
      </div>
      <!-- Blog 3 -->
      <div class="col-md-4">
        <div class="blog-card" style="background: url('/assets/images/D36FBA45-DCBB-49DB-8C60-81D4F3C91888.png') no-repeat center center; background-size: cover;">
          <div class="blog-content">
            <p class="blog-title">Which operating system is better?</p>
            <p class="blog-date">2024</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="pagination-controls mt-4 d-flex justify-content-center align-items-center">
        <button class="btn pagination-btn me-2">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn pagination-btn">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
  </div>